
@{
    ViewData["Title"] = "Error occured";
}

<div class="text-center">
    <div class="container mt-5">
        <h2 class="mb-4 text-danger">Something went wrong</h2>
        <p>Please, try again later</p>
    </div>
</div>